 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Về Quinn Gaming</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Chúng tôi cung cấp các dịch vụ liên quan đến game Ta Là Quan Lão Gia <br>* Dịch vụ nạp thưởng chiết khấu cao<br>* Tự động chơi game 
                    <br>* Tư vấn chiến lược trong game <br>* Buff tiệc Quan Yến, Gia Yến nhanh nhất</p>
                </div>
                <div class="col-lg-4">
                    <p>Uy tín chất lượng là tiêu chí hàng đầu của chúng tôi. Quinn Gaming sẽ làm cho các anh các chị hài lòng và gầm lên như hổ kêu 'Meoooo' </p>
                </div>
                <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div> -->
            </div>
        </div>
    </section>
